@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --orange: #ff8139;
  --pink: #ff3998;
  --green: #39ffa0;
  --red: #ff3939;
  --cherry-red: #ff2727;
  --purple: #c37aff;
  --light-green: #edfff6;
  --light-orange: #fff0e8;
  --accent-color1: #ffffff;
  --accent-color2: #555555;
  --accent-color3: #cccccc;
  --card-color: #000000;
  --background-dark: #111111;
  --mellow: #f08a8a;
  --black: #222222;
  --navbar-bg: #ffffff;
  --footer-bg: #f7f7f7;
  --font-family: "Inter", sans-serif;
}
// BLACK OPP
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  p,
  li,
  h4,
  h6,
  h1,
  h2,
  h3 {
    cursor: default;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: var(--background);
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
}
